@media screen and (max-device-height:568px ){
    .top_banner_frame img{
        height: 235px;
        background: url("doc_headImg_default.png") no-repeat center center;
        background-size: 100%;
        background-clip: content-box;
    }
    
    .article {
        /*        padding: 0 11px 0 11px;*/
    }
    
    .title_frame{
        font-size: 26px;
        margin-top:21px;
        margin-bottom:2px;
        padding: 0 11px 0 11px;
        line-height:1.3;
        font-family:".SFUIText-Regular";
    }
    
    .time_and_source_frame{
        font-size: 12px;
        padding: 7px 11px 0 11px;
        margin-bottom:14px;
    }
    
    .tip_wrapper_parent{
        margin-left: 42px;
        margin-right: 42px;
        margin-top: 30px;
        margin-bottom: 10px;
    }
    
    .tip_wrapper_frame{
        font-size: 14px;
    }
    
    .tip_wrapper_frame > span:first-child{
        padding-top: 8px;
    }
    
    .video_carry_frame{
        margin-top:24px;
        width: 100%;
/*        height: 218px;/*video_frame178 + video_bottom40*/*/
    }
    
    .video_carry_playHeight{
        
        margin-top:24px;
        width: 100%;
        height: 287px;/*videoheight_big247 + video_bottom40*/
    }
    
    .video_frame{
        margin-top:0px;
        width: 100%;
        height: 180px;
        /*height: 178px;*/
    }
    
    .videoheight_big{
        margin-top:0px;
        width: 100%;
        height: 247px;
    }
    
    .video_bottom{
        margin-top:-26px;
        height:40px;
        width:100%;
    }
    
    .video_bottom_text{
        width:273px;
        margin-left:15px;
        margin-top:14px;
        font-size:12px;
        color: #999999;
        text-align: right;
        -webkit-tap-highlight-color: transparent;
        float: left;
    }
    
    .video_bottom_icon{
        width:17px;
        height:12px;
        margin-right:13px;
        margin-top:16px;
        float: right;
        background: url("doc_video_bottom_icon.png") no-repeat;
        -webkit-tap-highlight-color: transparent;
        background-size:100%;
        display: inline;
    }
    
    .tip-divider{
        height:1.5px;
        margin-top:38px;
        margin-bottom:25px;
        background:url("doc_up_line.png") no-repeat center center;
        background-size:48px 1.5px;
        
        
    }
    
    .video_right_button{
        background: url("doc_playImage.png");
        
        position: absolute;
        width: 76px;
        height: 76px;
        background-size: 100%;
        top:50%;
        margin-top: -38px;
        left: 50%;
        margin-left: -38px;
    }
    
    /*    特卖*/
    .product{
        margin: 33px 10px 33px 11px;
        border: 0.5px solid #e9e9e9;
    }
    .product_img{
        /*  -26是为了抵消普通图片的底边距*/
        margin:0 0 -26px 0;
        background-color:white;
        border-top: 0px;
    }
    
    .xuxian{
        height: 60px;
        background-color:white;
    }
    
    .price_link{
        margin-left: 11px;
        height: 55px;
    }
    
    .product_price{
        width: 15px;
        height: 15px;
        margin-top: 23px;
        background: url("product_favour.png") no-repeat center top;
    }
    
    .product_number{
        font-size:13px;
        margin-left: 21px;
        margin-top: 27px;
        line-height:13px;
    }
    /*    查看宝贝   */
    .product_link{
        width: 84px;
        height: 31px;
        border-radius: 3px;
        margin-top: 15px;
        margin-right: 11px;
        float: right;
        text-align: center;
        position: relative;
        background-color: #f54343;
        color: #ffffff;
        font-family: ".SFUIText-Regular";
        font-size: 16px;
        line-height:31px;
        text-align: center;
        display: inline;
        -webkit-tap-highlight-color: transparent;/*点击高亮设为透明，无点击高亮*/
    }
    
    .product_link a{
        color: #ffffff;
    }
    
    .note_font_small{
        font-size: 11px;
    }
    
    .note_font_middle{
        font-size: 13px;
    }
    
    .note_font_big{
        font-size: 15px;
    }
    .note_font_biggest{
        font-size: 17px;
    }
    .note_font_huge{
        font-size: 19px;
    }
    
    
    .content_middle p{
        font-size: 18px;
    }
    
    .content_small p{
        font-size: 17px;
    }
    
    .content_big p{
        font-size: 20px;
    }
    
    .content_biggest p{
        font-size: 22px;
    }
    .content_huge p{
        font-size: 24px;
    }
    
    .content p{
        margin-bottom: 23px;
        padding: 0 11px 0 11px;
        
    }
    
    /*正文新样式  缩略文章样式*/
    .p_text_title{
        background:url("doc_p_text_title_img.png") no-repeat;
        background-size:3px 21px;
        background-position: left 4px;
        font-size: 21px !important;
        margin-left: 11px;
        padding-left:13px !important;
        padding-bottom:0px !important;
        margin-bottom: 3px !important;
    }
    
    .p_text_date{
        font-size: 11px !important;
        margin-top: -5px !important;
        margin-bottom:10px !important;
    }
    
    /*内容的字体 又 不用单独处理了*/
    /*.p_text_content{
        font-size: 17px !important;
        padding-bottom:8px !important;
    }*/
    
    /*短文 字体*/
    /*标题*/
    .essayTitle_font_middle{
        /*text-align: center;*/
        font-size: 21px !important;
        background-position: left 4px;
    }
    
    .essayTitle_font_small{
        font-size: 19px !important;
        background-position: left 3px;
    }
    
    .essayTitle_font_big{
        font-size: 23px !important;
        background-position: left 5px;
    }
    
    .essayTitle_font_biggest{
        font-size: 25px !important;
        background-position: left 7px;
    }
    .essayTitle_font_huge{
        font-size: 27px !important;
        background-position: left 9px;
    }
    
    /*时间*/
    .essayTime_font_middle{
        font-size: 11px !important;
    }
    
    .essayTime_font_small{
        font-size: 9px !important;
    }
    
    .essayTime_font_big{
        font-size: 13px !important;
    }
    
    .essayTime_font_biggest{
        font-size: 15px !important;
    }
    .essayTime_font_huge{
        font-size: 17px !important;
    }
    
    /*内容的字体 又 不用单独处理了*/
    /*内容*/
    /*.essayContent_font_middle{
        font-size: 17px !important;
    }
    
    .essayContent_font_small{
        font-size: 15px !important;
    }
    
    .essayContent_font_big{
        font-size: 19px !important;
    }
    
    .essayContent_font_biggest{
        font-size: 21px !important;
    }
    .essayContent_font_huge{
        font-size: 23px !important;
    }*/
    
    
    /*早前报道  文章内容 字号*/
    .earlierContent_font_middle p{
        font-size: 17px;
        text-align: justify;
    }
    
    .earlierContent_font_small p{
        font-size: 15px;
        text-align: justify;
    }
    
    .earlierContent_font_big p{
        font-size: 19px;
        text-align: justify;
    }
    
    .earlierContent_font_biggest p{
        font-size: 21px;
        text-align: justify;
    }
    .earlierContent_font_huge p{
        font-size: 23px;
        text-align: justify;
    }
    
    /*早前报道  文章标题 字号*/
    .earlierTitle_font_middle{
        text-align: center;
        font-family:".SFUIText-Medium";
        font-size: 21px;
    }
    
    .earlierTitle_font_small{
        text-align: center;
        font-family:".SFUIText-Medium";
        font-size: 19px;
    }
    
    .earlierTitle_font_big{
        text-align: center;
        font-family:".SFUIText-Medium";
        font-size: 23px;
    }
    
    .earlierTitle_font_biggest{
        text-align: center;
        font-family:".SFUIText-Medium";
        font-size: 25px;
    }
    .earlierTitle_font_huge{
        text-align: center;
        font-family:".SFUIText-Medium";
        font-size: 27px;
    }
    
    /*早前报道  文章时间来源 字号*/
    .earlierTime_font_middle{
        color: #999999;
        position: relative;
        font-size: 11px;
        padding:2px 0 2px 0;
    }
    
    .earlierTime_font_small{
        color: #999999;
        position: relative;
        font-size: 9px;
        padding:2px 0 2px 0;
    }
    
    .earlierTime_font_big{
        color: #999999;
        position: relative;
        font-size: 13px;
        padding:2px 0 2px 0;
    }
    
    .earlierTime_font_biggest{
        color: #999999;
        position: relative;
        font-size: 15px;
        padding:2px 0 2px 0;
    }
    .earlierTime_font_huge{
        color: #999999;
        position: relative;
        font-size: 17px;
        padding:2px 0 2px 0;
    }
    
    
    .img-note{
        margin-top: -14px;
        margin-bottom: 20px;
        line-height:1.7;
    }
    
    .small-note{
        padding-top: -14px;
        margin-bottom: 26px;
        line-height:1.7;
    }
    
    .img_p{
        margin-bottom: 26px;
        
    }
    
    .atlas{
        width: 42px;
        height: 22px;
        background-image: url("doc_AtlasLabel.png");
    }
    
    .earlier_left{
        width: 31px;
        height: 129px;
        background: url("doc_earlier_icon.png") no-repeat center top;
        margin-left:11px;
    }
    
    .earlier_label{
        width: 100%;
        font-size: 17px;
        margin-bottom: 13px;
        
    }
    
    .earlier_title{
        width: 100%;
        margin-bottom: 11px;
    }
    
    .earlier_time{
        width: 100%;
        font-size: 13px;
        
        
    }
    .earlier_right{
        margin-left: 50px;
        margin-right:14px;
    }
    
    
    .earlier_content p{
        margin-top: 16px;
        
    }
    /*不需要单独对早前报道中图注做单独处理*/
    /*.earlier_content small{
        font-size: 17px;
        margin-top: 16px;
        color: #333333;
    }*/
    
    .earlier_content img{
        width: 100%;
        margin-top:0;
    }
    
    .editorCode{
        font-size: 12px;
        line-height:12px;
        padding:0 11px 20px 11px;
    }
    .textBottom{
        height:3px;
    }
    
    /*   免责声明 */
    .disclaimer_middle {
        margin:8px 11px 45px 11px;
        font-size: 18px;
        text-align:justify;
    }
    
    .disclaimer_small {
        margin:8px 11px 45px 11px;
        font-size: 16px;
        text-align:justify;
    }
    
    .disclaimer_big {
        margin:8px 11px 45px 11px;
        font-size: 20px;
        text-align:justify;
    }
    
    .disclaimer_biggest {
        margin:8px 11px 45px 11px;
        font-size: 22px;
        text-align:justify;
    }
    .disclaimer_huge {
        margin:8px 11px 45px 11px;
        font-size: 24px;
        text-align:justify;
    }
    
    .disclaimer{
        margin:8px 11px 45px 11px;
    }
    
    .originalLink{
        width: 107px;
        height:28px;
        margin-left: 106.5px;
        margin-right: 106.5px;
        margin-bottom:20px;
        padding-top:11px;
        font-size:16px;
        line-height:16px;
    }
    .slides{
        margin-top:24px;
    }
    .content{
        margin-top:0px;
        line-height: 1.43;
    }
    
    .doc_inner_ad{
        height:105px;
        width:100%px;
        margin-top:29px;
        margin-bottom:29px;
        margin-left:10px;
        margin-right:10px;
        text-align:right;
    }
    
    
    
    .doc_ad_close{
        width:35px;
        height:35px;
        background-color:#ff0000;
    }
    
   
    
    
 
    
}

@media screen and (device-height:667px ){
    .top_banner_frame img{
        height: 275px;
        background: url("doc_headImg_default.png") no-repeat center center;
        background-size: 100%;
        background-clip: content-box;
    }
    .article {
        /*        padding: 0 13px 0 13px;*/
    }
    
    .title_frame{
        font-size: 26px;
        margin-top:21px;
        margin-bottom:2px;
        padding: 0 13px 0 13px;
        line-height:1.3;
        font-family:".SFUIText-Regular";
    }
    
    .time_and_source_frame{
        font-size: 12px;
        padding: 7px 13px 0 13px;
        margin-bottom:14px;
    }
    
    .tip_wrapper_parent{
        margin-left: 42px;
        margin-right: 42px;
        margin-top: 30px;
        margin-bottom: 10px;
    }
    .tip_wrapper_frame{
        font-size: 14px;
    }
    
    .tip_wrapper_frame > span:first-child{
        padding-top: 8px;
    }
    
    .video_carry_frame{
        margin-top:24px;
        width: 100%;
/*        height: 218px;/*video_frame178 + video_bottom40*/*/
    }
    
    .video_carry_playHeight{
        
        margin-top:24px;
        width: 100%;
        height: 287px;/*videoheight_big247 + video_bottom40*/
    }
    
    .video_frame{
        margin-top:24px;
        width: 100%;
        /*height: 178px;*/
        height: 211px;
    }
    
    .videoheight_big{
        margin-top:24px;
        width: 100%;
        height: 247px;
    }
    
    .video_bottom{
        margin-top:-26px;
        height:40px;
        width:100%;
    }
    
    .video_bottom_text{
        width:330px;
        margin-left:15px;
        margin-top:14px;
        font-size:12px;
        color: #999999;
        text-align: right;
        -webkit-tap-highlight-color: transparent;
        float: left;
    }
    
    .video_bottom_icon{
        width:17px;
        height:12px;
        margin-right:13px;
        margin-top:16px;
        float: right;
        background: url("doc_video_bottom_icon.png") no-repeat;
        background-size:100%;
        -webkit-tap-highlight-color: transparent;
/*        display: inline;*/
    }
    
    .tip-divider{
        height:1.5px;
        margin-top:38px;
        margin-bottom:25px;
        background:url("doc_up_line.png") no-repeat center center;
        background-size:48px 1.5px;
        
        
    }
    
    .video_right_button{
        background: url("doc_playImage.png");
        
        position: absolute;
        width: 76px;
        height: 76px;
        background-size: 100%;
        top:50%;
        margin-top: -38px;
        left: 50%;
        margin-left: -38px;
    }
    
    /*    特卖*/
    .product{
        margin: 33px 12px 33px 13px;
        border: 0.5px solid #e9e9e9;
    }
    .product_img{
        margin:0 0 -26px 0;
        background-color:white;
        border-top: 0px;
    }
    
    .xuxian{
        height: 60px;
        background-color:white;
    }
    
    .price_link{
        height: 55px;
        margin-left: 11px;
    }
    .product_price{
        width: 15px;
        height: 15px;
        margin-top: 23px;
        background: url("product_favour.png") no-repeat center top;
    }
    .product_number{
        font-size:13px;
        margin-left: 21px;
        margin-top: 27px;
        line-height:13px;
    }
    /*    查看宝贝   */
    .product_link{
        width: 84px;
        height: 31px;
        border-radius: 3px;
        margin-top: 15px;
        margin-right: 11px;
        float: right;
        text-align: center;
        position: relative;
        background-color: #f54343;
        color: #ffffff;
        font-family: ".SFUIText-Regular";
        font-size: 16px;
        line-height:31px;
        text-align: center;
        display: inline;
        -webkit-tap-highlight-color: transparent;
    }
    
    .product_link a{
        color: #ffffff;
    }
    
    .note_font_small{
        font-size: 11px;
    }
    
    .note_font_middle{
        font-size: 13px;
    }
    
    .note_font_big{
        font-size: 15px;
    }
    .note_font_biggest{
        font-size: 17px;
    }
    .note_font_huge{
        font-size: 19px;
    }
    
    
    .content_middle p{
        font-size: 18px;
    }
    
    .content_small p{
        font-size: 17px;
    }
    
    .content_big p{
        font-size: 20px;
    }
    
    .content_biggest p{
        font-size: 22px;
    }
    .content_huge p{
        font-size: 24px;
    }
    
    .content p{
        margin-bottom: 23px;
        padding: 0 13px 0 13px;
        
    }
    
    /*正文新样式  缩略文章样式*/
    .p_text_title{
        background:url("doc_p_text_title_img.png") no-repeat left;
        background-size:3px 21px;
        background-position: left 4px;
        font-size: 21px !important;
        margin-left: 11px;
        padding:0 0 0 13px;
        margin-bottom: 3px !important;
    }
    
    .p_text_date{
        font-size: 11px !important;
        margin-top: -5px !important;
        margin-bottom:10px !important;
    }
    
    /*.p_text_content{
        font-size: 17px !important;
        padding-bottom:8px !important;
    }*/
    
    /*短文 字体*/
    /*标题*/
    .essayTitle_font_middle{
        /*text-align: center;*/
        font-size: 21px !important;
        background-position: left 4px;
    }
    
    .essayTitle_font_small{
        font-size: 19px !important;
        background-position: left 3px;
    }
    
    .essayTitle_font_big{
        font-size: 23px !important;
        background-position: left 5px;
    }
    
    .essayTitle_font_biggest{
        font-size: 25px !important;
        background-position: left 7px;
    }
    .essayTitle_font_huge{
        font-size: 27px !important;
        background-position: left 9px;
    }
    
    /*时间*/
    .essayTime_font_middle{
        font-size: 11px !important;
    }
    
    .essayTime_font_small{
        font-size: 9px !important;
    }
    
    .essayTime_font_big{
        font-size: 13px !important;
    }
    
    .essayTime_font_biggest{
        font-size: 15px !important;
    }
    .essayTime_font_huge{
        font-size: 17px !important;
    }
    
    /*内容*/
    /*.essayContent_font_middle{
        font-size: 17px !important;
    }
    
    .essayContent_font_small{
        font-size: 15px !important;
    }
    
    .essayContent_font_big{
        font-size: 19px !important;
    }
    
    .essayContent_font_biggest{
        font-size: 21px !important;
    }
    .essayContent_font_huge{
        font-size: 23px !important;
    }*/
    
    /*早前报道  文章内容 字号*/
    .earlierContent_font_middle p{
        font-size: 17px;
        text-align: justify;
    }
    
    .earlierContent_font_small p{
        font-size: 15px;
        text-align: justify;
    }
    
    .earlierContent_font_big p{
        font-size: 19px;
        text-align: justify;
    }
    
    .earlierContent_font_biggest p{
        font-size: 21px;
        text-align: justify;
    }
    .earlierContent_font_huge p{
        font-size: 23px;
        text-align: justify;
    }
    
    /*早前报道  文章标题 字号*/
    .earlierTitle_font_middle{
        text-align: center;
        font-family:".SFUIText-Medium";
        font-size: 21px;
    }
    
    .earlierTitle_font_small{
        text-align: center;
        font-family:".SFUIText-Medium";
        font-size: 19px;
    }
    
    .earlierTitle_font_big{
        text-align: center;
        font-family:".SFUIText-Medium";
        font-size: 23px;
    }
    
    .earlierTitle_font_biggest{
        text-align: center;
        font-family:".SFUIText-Medium";
        font-size: 25px;
    }
    .earlierTitle_font_huge{
        text-align: center;
        font-family:".SFUIText-Medium";
        font-size: 27px;
    }
    
    /*早前报道  文章时间来源 字号*/
    .earlierTime_font_middle{
        color: #999999;
        position: relative;
        font-size: 11px;
        padding:2px 0 2px 0;
    }
    
    .earlierTime_font_small{
        color: #999999;
        position: relative;
        font-size: 9px;
        padding:2px 0 2px 0;
    }
    
    .earlierTime_font_big{
        color: #999999;
        position: relative;
        font-size: 13px;
        padding:2px 0 2px 0;
    }
    
    .earlierTime_font_biggest{
        color: #999999;
        position: relative;
        font-size: 15px;
        padding:2px 0 2px 0;
    }
    .earlierTime_font_huge{
        color: #999999;
        position: relative;
        font-size: 17px;
        padding:2px 0 2px 0;
    }
    
    
    .img-note{
        margin-top: -14px;
        margin-bottom: 20px;
        line-height:1.7;
    }
    
    .small-note{
        padding-top: -14px;
        margin-bottom: 26px;
        line-height:1.7;
    }
    
    .img_p{
        margin-bottom: 26px;
        
    }
    
    .atlas{
        width: 42px;
        height: 22px;
        background-image: url("doc_AtlasLabel.png");
    }
    
    .earlier_left{
        width: 31px;
        height: 129px;
        background: url("doc_earlier_icon.png") no-repeat center top;
        margin-left:13px;
    }
    
    .earlier_label{
        width: 100%;
        font-size: 17px;
        margin-bottom: 13px;
        
    }
    
    .earlier_title{
        width: 100%;
        margin-bottom: 11px;
    }
    
    .earlier_time{
        width: 100%;
        font-size: 13px;
        
        
    }
    .earlier_right{
        margin-left: 50px;
        margin-right:14px;
    }
    
    
    .earlier_content p{
        margin-top: 16px;
        
    }
    
    /*.earlier_content small{
        font-size: 17px;
        margin-top: 16px;
        color: #333333;
    }*/
    
    .earlier_content img{
        width: 100%;
        margin-top:0;
    }
    
    .editorCode{
        font-size: 12px;
        line-height:12px;
        padding:0 11px 20px 11px;
    }
    .textBottom{
        height:3px;
    }
    
    /*   免责声明 */
    .disclaimer_middle {
        margin:8px 13px 45px 13px;
        font-size: 18px;
        text-align:justify;
    }
    
    .disclaimer_small {
        margin:8px 13px 45px 13px;
        font-size: 16px;
        text-align:justify;
    }
    
    .disclaimer_big {
        margin:8px 13px 45px 13px;
        font-size: 20px;
        text-align:justify;
    }
    
    .disclaimer_biggest {
        margin:8px 13px 45px 13px;
        font-size: 22px;
        text-align:justify;
    }
    .disclaimer_huge {
        margin:8px 13px 45px 13px;
        font-size: 24px;
        text-align:justify;
    }
    
    .disclaimer{
        margin:8px 13px 45px 13px;
    }
    
    .originalLink{
        width: 110px;
        height: 28px;
        margin-left: 132.5px;
        margin-right: 132.5px;
        margin-bottom:20px;
        padding-top:11px;
        font-size:16px;
        line-height:16px;
    }
    .slides{
        margin-top:24px;
    }
    
    .content{
        margin-top:0px;
        line-height: 1.43;
    }
    
    .doc_inner_ad{
        height:105px;
        width:100%px;
        margin-top:29px;
        margin-bottom:29px;
        margin-left:10px;
        margin-right:10px;
        text-align:right;
    }
    
    
    
    .doc_ad_close{
        width:35px;
        height:35px;
    }

    
    
}

@media screen and (device-height:736px ){
    .top_banner_frame img{
        height: 303.6px;
        background: url("doc_headImg_default@3x.png") no-repeat center center;
        background-size: 100%;
        background-clip: content-box;
    }
    .article {
        /*        padding: 0 14.352px 0 14.352px;*/
    }
    
    .title_frame{
        font-size: 26px;
        margin-top:calc(21px*1.104);
        margin-bottom:calc(2px*1.104);
        padding: 0 calc(13px*1.104) 0 calc(13px*1.104);
        line-height:1.3;
        font-family:".SFUIText-Regular";
    }
    
    .time_and_source_frame{
        font-size: 12px;
        padding: calc(7px*1.104) calc(13px*1.104) 0 calc(13px*1.104);
        margin-bottom:calc(14px*1.104);
    }
    
    .tip_wrapper_parent{
        margin-left: calc(42px*1.104);
        margin-right: calc(42px*1.104);
        margin-top: calc(30px*1.104);
        margin-bottom: calc(10px*1.104);
    }
    .tip_wrapper_frame{
        font-size: calc(14px*1.104);
    }
    
    .tip_wrapper_frame > span:first-child{
        padding-top: calc(8px*1.104);
    }
    
    .video_carry_frame{
        margin-top:calc(24px*1.104);
        width: 100%;
/*        height: calc(218px*1.104);/*video_frame178 + video_bottom40*/*/
    }
    
    .video_carry_playHeight{
        
        margin-top:calc(24px*1.104);
        width: 100%;
        height: calc(287px*1.104);/*videoheight_big247 + video_bottom40*/
    }
    
    .video_frame{
        margin-top:calc(24px*1.104);
        width: 100%;
        /*height: calc(178px*1.104);*/
        height: 233px;
    }
    
    .videoheight_big{
        margin-top:calc(24px*1.104);
        width: 100%;
        height: calc(247px*1.104);
    }
    
    .video_bottom{
        margin-top:calc(-26px*1.104);
        height:calc(40px*1.104);
        width:100%;
    }
    
    .video_bottom_text{
        width:calc(330px*1.104);
        margin-left:calc(15px*1.104);
        margin-top:calc(14px*1.104);
        font-size:12px;
        color: #999999;
        text-align: right;
        -webkit-tap-highlight-color: transparent;
        float: left;
    }
    
    .video_bottom_icon{
        width:calc(17px*1.104);
        height:calc(12px*1.104);
        margin-right:calc(13px*1.104);
        margin-top:calc(16px*1.104);
        float: right;
        background: url("doc_video_bottom_icon@3x.png") no-repeat;
        background-size:100%;
        -webkit-tap-highlight-color: transparent;
/*        display: inline;*/
    }
    
    .content{
        margin-top:calc(0px*1.104);
        line-height: calc(1.5*1.104);
        
    }
    
    .tip-divider{
        height:2.5px;
        margin-top:calc(25px*1.104);
        margin-bottom:calc(25px*1.104);
        background:url("doc_up_line@3x.png") no-repeat center center;
        background-size:49px 2.5px;
        
    }
    
    .video_right_button{
        background: url("doc_playImage@3x.png");
        
        position: absolute;
        width: 84px;
        height: 84px;
        background-size: 100%;
        top:50%;
        margin-top: -42px;
        left: 50%;
        margin-left: -42px;
    }
    
    /*    特卖*/
    .product{
        margin: calc(33px*1.104) calc(12px*1.104) calc(33px*1.104) calc(13px*1.104);
        border: calc(0.5px*1.104) solid #e9e9e9;
        
    }
    .product_img{
        margin:0 0 calc(-26px*1.104) 0;
        background-color:white;
        border-top: 0px;
    }
    
    .xuxian{
        height: calc(60px*1.104);
        background-color:white;
    }
    
    .price_link{
        height: calc(55px*1.104);
        margin-left: calc(11px*1.104);
    }
    .product_price{
        width: calc(15px*1.104);
        height: calc(15px*1.104);
        margin-top: calc(23px*1.104);
        background: url("product_favour@3x.png") no-repeat center top;
    }
    .product_number{
        font-size:calc(13px*1.104);
        margin-left: calc(21px*1.104);
        margin-top: calc(27px*1.104);
        line-height:calc(13px*1.104);
    }
    /*    查看宝贝   */
    .product_link{
        width: calc(84px*1.104);
        height: calc(31px*1.104);
        border-radius: calc(3px*1.104);
        margin-top: calc(15px*1.104);
        margin-right: calc(11px*1.104);
        float: right;
        text-align: center;
        position: relative;
        background-color: #f54343;
        color: #ffffff;
        font-family: ".SFUIText-Regular";
        font-size: calc(16px*1.104);
        line-height:calc(31px*1.104);
        text-align: center;
        display: inline;
        -webkit-tap-highlight-color: transparent;
    }
    .product_link a{
        color: #ffffff;
    }
    
    .note_font_small{
        font-size: 13px;
    }
    
    .note_font_middle{
        font-size: 15px;
    }
    
    .note_font_big{
        font-size: 17px;
    }
    .note_font_biggest{
        font-size: 19px;
    }
    .note_font_huge{
        font-size: 20px;
    }
    
    
    
    .content_middle p{
        font-size: 19px;
    }
    
    .content_small p{
        font-size: 17px;
    }
    
    .content_big p{
        font-size: 21px;
    }
    
    .content_biggest p{
        font-size: 22px;
    }
    .content_huge p{
        font-size: 24px;
    }
    .content p{
        margin-bottom: calc(23px*1.104);
        padding: 0 calc(13px*1.104) 0 calc(13px*1.104);
    }
    
    /*正文新样式  缩略文章样式*/
    .p_text_title{
        background:url("doc_p_text_title_img@3x.png") no-repeat left;
        background-size:calc(3px*1.104) calc(21px*1.104);
        background-position: left 4px;
        font-size: 21px !important;
        margin-left: calc(11px*1.104);
        padding:0 0 0 calc(13px*1.104);
        margin-bottom: calc(3px*1.104) !important;
    }
    
    .p_text_date{
        font-size: 11px !important;
        margin-top: calc(-5px*1.104) !important;
        margin-bottom:calc(10px*1.104) !important;
    }
    
    /*.p_text_content{
        font-size: 17px !important;
        padding-bottom:clac(8px*1.104) !important;
    }*/
    
    /*短文 字体*/
    /*标题*/
    .essayTitle_font_middle{
        /*text-align: center;*/
        font-size: 21px !important;
        background-position: left 4px;
    }
    
    .essayTitle_font_small{
        font-size: 19px !important;
        background-position: left 3px;
    }
    
    .essayTitle_font_big{
        font-size: 23px !important;
        background-position: left 5px;
    }
    
    .essayTitle_font_biggest{
        font-size: 25px !important;
        background-position: left 7px;
    }
    .essayTitle_font_huge{
        font-size: 27px !important;
        background-position: left 9px;
    }
    
    /*时间*/
    .essayTime_font_middle{
        font-size: 11px !important;
    }
    
    .essayTime_font_small{
        font-size: 9px !important;
    }
    
    .essayTime_font_big{
        font-size: 13px !important;
    }
    
    .essayTime_font_biggest{
        font-size: 15px !important;
    }
    .essayTime_font_huge{
        font-size: 17px !important;
    }
    
    /*内容*/
    /*.essayContent_font_middle{
        font-size: 17px !important;
    }
    
    .essayContent_font_small{
        font-size: 15px !important;
    }
    
    .essayContent_font_big{
        font-size: 19px !important;
    }
    
    .essayContent_font_biggest{
        font-size: 21px !important;
    }
    .essayContent_font_huge{
        font-size: 23px !important;
    }*/
    
    /*早前报道  文章内容 字号*/
    .earlierContent_font_middle p{
        font-size: 17px;
        text-align: justify;
    }
    
    .earlierContent_font_small p{
        font-size: 15px;
        text-align: justify;
    }
    
    .earlierContent_font_big p{
        font-size: 19px;
        text-align: justify;
    }
    
    .earlierContent_font_biggest p{
        font-size: 21px;
        text-align: justify;
    }
    .earlierContent_font_huge p{
        font-size: 23px;
        text-align: justify;
    }
    
    /*早前报道  文章标题 字号*/
    .earlierTitle_font_middle{
        text-align: center;
        font-family:".SFUIText-Medium";
        font-size: 21px;
    }
    
    .earlierTitle_font_small{
        text-align: center;
        font-family:".SFUIText-Medium";
        font-size: 19px;
    }
    
    .earlierTitle_font_big{
        text-align: center;
        font-family:".SFUIText-Medium";
        font-size: 23px;
    }
    
    .earlierTitle_font_biggest{
        text-align: center;
        font-family:".SFUIText-Medium";
        font-size: 25px;
    }
    .earlierTitle_font_huge{
        text-align: center;
        font-family:".SFUIText-Medium";
        font-size: 27px;
    }
    
    /*早前报道  文章时间来源 字号*/
    .earlierTime_font_middle{
        color: #999999;
        position: relative;
        font-size: 11px;
        padding:calc(2px*1.104) 0 calc(2px*1.104) 0;
    }
    
    .earlierTime_font_small{
        color: #999999;
        position: relative;
        font-size: 9px;
        padding:calc(2px*1.104) 0 calc(2px*1.104) 0;
    }
    
    .earlierTime_font_big{
        color: #999999;
        position: relative;
        font-size: 13px;
        padding:calc(2px*1.104) 0 calc(2px*1.104) 0;
    }
    
    .earlierTime_font_biggest{
        color: #999999;
        position: relative;
        font-size: 15px;
        padding:calc(2px*1.104) 0 calc(2px*1.104) 0;
    }
    .earlierTime_font_huge{
        color: #999999;
        position: relative;
        font-size: 17px;
        padding:calc(2px*1.104) 0 calc(2px*1.104) 0;
    }
    
    
    .img-note{
        margin-top: -14px;
        margin-bottom: calc(20px*1.104);
        line-height:1.7;
    }
    
    .small-note{
        padding-top: -14px;
        margin-bottom: calc(26px*1.104);
        line-height:1.7;
    }
    
    .img_p{
        margin-bottom: calc(26px*1.104);
        
    }
    
    .atlas{
        width: calc(42px*1.104);
        height: calc(22px*1.104);
        background-image: url("doc_AtlasLabel@3x.png");
    }
    
    .earlier_left{
        width: calc(31px*1.104);
        height: calc(129px*1.104);
        background: url("doc_earlier_icon@3x.png") no-repeat center top;
        margin-left:calc(13px*1.104);
    }
    
    
    .earlier_label{
        width: 100%;
        font-size: 17px;
        margin-bottom: calc(13px*1.104);
        
    }
    
    .earlier_title{
        width: 100%;
        margin-bottom: calc(11px*1.104);
    }
    
    .earlier_time{
        width: 100%;
        font-size: 13px;
        
        
    }
    .earlier_right{
        margin-left: calc(50px*1.104);
        margin-right:calc(14px*1.104);
    }
    
    
    .earlier_content p{
        margin-top: calc(16px*1.104);
        
    }
    
    /*.earlier_content small{
        font-size: 17px;
        margin-top: calc(16px*1.104);
        color: #333333;
    }*/
    
    .earlier_content img{
        width: 100%;
        margin-top:0;
    }
    
    .editorCode{
        font-size: 12px;
        line-height:12px;
        padding:0 calc(13px*1.104) 20px calc(13px*1.104);
    }
    .textBottom{
        height:calc(3px*1.104);
    }
    
    /*   免责声明 */
    .disclaimer_middle {
        margin:calc(8px*1.104) calc(13px*1.104) calc(45px*1.104) calc(13px*1.104);
        font-size: calc(18px*1.104);
        text-align:justify;
    }
    
    .disclaimer_small {
        margin:calc(8px*1.104) calc(13px*1.104) calc(45px*1.104) calc(13px*1.104);
        font-size: calc(16px*1.104);
        text-align:justify;
    }
    
    .disclaimer_big {
        margin:calc(8px*1.104) calc(13px*1.104) calc(45px*1.104) calc(13px*1.104);
        font-size: calc(20px*1.104);
        text-align:justify;
    }
    
    .disclaimer_biggest {
        margin:calc(8px*1.104) calc(13px*1.104) calc(45px*1.104) calc(13px*1.104);
        font-size: calc(22px*1.104);
        text-align:justify;
    }
    .disclaimer_huge {
        margin:calc(8px*1.104) calc(13px*1.104) calc(45px*1.104) calc(13px*1.104);
        font-size: calc(24px*1.104);
        text-align:justify;
    }
    .disclaimer{
        margin:calc(8px*1.104) calc(13px*1.104) calc(45px*1.104) calc(13px*1.104);
    }
    
    .originalLink{
        width: calc(110px*1.104);
        height: calc(28px*1.104);
        margin-left: calc(132.5px*1.104);
        margin-right: calc(132.5px*1.104);
        margin-bottom:calc(20px*1.104);
        padding-top: calc(11px*1.104);
        font-size:calc(16px*1.104);
        line-height:calc(16px*1.104);
    }
    .slides{
        margin-top:calc(24px*1.104);
    }
    
    
    
    .doc_inner_ad{
        height:calc(105px*1.104);
        width:100%px;
        margin-top:calc(29px*1.104);
        margin-bottom:calc(29px*1.104);
        margin-left:calc(10px*1.104);
        margin-right:calc(10px*1.104);
        text-align:right;
    }
    
    
    
    .doc_ad_close{
        width:calc(35px*1.104);
        height:calc(35px*1.104);
    }

/*
    
    .doc_inner_ad{
        height:calc(105px*1.104);
        width:calc(349px*1.104);
        margin-top:calc(29px*1.104);
        margin-bottom:calc(29px*1.104);
    }
    
    .doc_ad_close{
        display: inline;
        margin-top:calc(10px*1.104);
        margin-right:calc(10px*1.104);
        width:calc(35px*1.104);
        height:calc(35px*1.104);
        background:url('doc_ad_close@3x.png') no-repeat center center;
        background-size: 100%;
        background-clip: content-box;
    }

*/
    
}

div{
    font-family:".SFUIText-Regular";
}
p{
    font-family:".SFUIText-Regular";
    
}
b,strong{
    font-weight:normal;
    font-family:".SFUIText-Medium";
}

body,ul,li{
    margin: 0;
    padding:0;
    background-color: #ffffff;
    
}

a:link{text-decoration:none;}
a:active:visited{text-decoration:none;}
a::active{text-decoration:none;}

.top_banner {
    width: 100%;
    height: auto;
}

.top_banner img{
    width: 100%
}

.title{
    line-height:1.3;
    text-align: left;
    color: #000000;
    font-family:".SFUIText-Regular";
    
}
.time_and_source{
    color: #999999;
    font-family:".SFUIText-Regular";
}

.tip_wrapper{
    text-align:justify;
    line-height: 1.68;
    color: #6d6d6d;
    
}

.content{
    color: #333333;
    overflow: hidden;
    clear: both;
    position: relative
    
    
}


.video_mark{
    position: absolute;
    top: 0px;
    display: block;
    z-index: 2;
    overflow: hidden;
    background: rgba(0,0,0,0.2);
    
    height: 100%;
    width: 100%;
}

.video_parent{
    position: relative;
}

.videoSection{
    
    position: relative;
    overflow: hidden;
    text-indent: 0px;
    background-repeat: no-repeat;
    background-position: center center;
    background-clip: content-box;
    background: url("doc_video_bg.png") no-repeat center center;
    background-size: 100%;
    display: block;
    margin-bottom: 26px;
    
    
    
}


.videoSection_noimg{
    
    position: relative;
    overflow: hidden;
    text-indent: 0px;
    background-repeat: no-repeat;
    background-position: center center;
    background-clip: content-box;
    background: url("doc_video_bg_noimage.png") no-repeat center center;
    background-size: 100%;
    display: block;
    margin-bottom: 26px;
    
    
    
}

.videoSection_offline{
    
    position: relative;
    overflow: hidden;
    text-indent: 0px;
    background-repeat: no-repeat;
    background-position: center center;
    background-clip: content-box;
    background: url("doc_video_bg_offline.png") no-repeat center center;
    background-size: 100%;
    display: block;
    margin-bottom: 26px;
    
    
    
}

.video > img{
    padding:0; border:0;margin:0;
    width: 100%;
    height: 100%;
}

p>small{
    width: 100%;
    display: block;
    text-align: justify;
    line-height: 1.7;
    color: #999999;
    
}

.content img{
    padding: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
}

.content p{
    color:#333333;
    text-align: justify;
    display: block;
    line-height:1.5;
}

.slides{
    position: relative;
    overflow: hidden;
    text-indent: 0px;
    background-repeat: no-repeat;
    background-position: center center;
    background-clip: content-box;
    background: url("doc_imagebg.png") no-repeat center center;
    background-size: 100%;
    display: block;
    margin-bottom: 26px;
    background-color:#e3e3e3;
    
    
}

.slides_noImg{
    position: relative;
    overflow: hidden;
    text-indent: 0px;
    background-repeat: no-repeat;
    background-position: center center;
    background-clip: content-box;
    background: url("doc_imagebg_noimage.png") no-repeat center center;
    background-size: 100%;
    display: block;
    margin-bottom: 26px;
    background-color:#e3e3e3;
    
    
}

.slides_offline{
    position: relative;
    overflow: hidden;
    text-indent: 0px;
    background-repeat: no-repeat;
    background-position: center center;
    background-clip: content-box;
    background: url("doc_imagebg_offline.png") no-repeat center center;
    background-size: 100%;
    display: block;
    margin-bottom: 26px;
    background-color:#e3e3e3;
    
    
}


.atlas{
    background-repeat: no-repeat;
    background-position: center center;
    background-clip: content-box;
    background-size: 100%;
    
}

.earlierWrapper{
    width: 100%;
    height: auto;
    padding-top: 0px;
    margin-top: 0px;
}


.editorCode{
    text-align: right;
    color: #999999;
    
}

.earlier_left{
    
    float: left;
    background-size: 100%;
    line-height: 129px;
}

.earlier_right{
    
    margin-top: 1px;
    
}

.earlier_label{
    color: #333333;
    font-family:".SFUIText-Medium";
}

.earlier_title{
    line-height:1.2;
    color: #333333;
    font-family:".SFUIText-Medium";
    text-align:justify;
}

.earlier_time{
    color: #909090;
    position: relative;
}

.earlier_content{
    width: 100%;
    color: #333333;
    
}

.earlier_content p{
    font-family:".SFUIText-Regular";
    line-height: 1.47;
    padding: 0 0 0 0;

}

.earlier_content p strong{
    font-family:".SFUIText-Medium";
    font-weight:lighter;
}

/*.earlier_content small{
    line-height: 1.3;
    padding: 0 0 0 0;
    color: #333333;
}*/

.lazy_img_noimg{
    background-clip: content-box;
    background: url("doc_imagebg_noimage.png") no-repeat center center;
    background-size: 100%;
}

.lazy_img_noimg_showPic{
    background-clip: content-box;
    border-top: 0.5px solid #e9e9e9;
    border-bottom: 0.5px solid #e9e9e9;
    background-size: 100%;
    
}

.lazy_img_offline{
    background-clip: content-box;
    background: url("doc_imagebg_offline.png") no-repeat center center;
    background-size: 100%;
}

.lazy_img{
    background-clip: content-box;
    background: url("doc_imagebg.png") no-repeat center center;
    background-size: 100%;
    background-color:#e3e3e3;
    border-top: 0.5px solid #e9e9e9;
    border-bottom: 0.5px solid #e9e9e9;
    
}

.disclaimer{
    color:#2a2a2a;
    text-align:justify;
    text-decoration:none;
}
.originalLink{
    border-radius: 25px;
    text-align:center;
    background-color: #f9f9f9;
}
.p_text_title{
    font-family:".SFUIText-Medium" !important;
    color:#333333 !important;
}

.p_text_date{
    font-family:".SFUIText-Regular" !important;
    color: #999999 !important;
    line-height: 1 !important;
    
}

/*.p_text_content{
    color: #333333 !important;
    text-align: justify  !important;
}*/



.telephone{
    color:#004276;
    text-decoration: underline;
}

.product_link a{
    color: #ffffff;
}

.price_link{
    display: inline;
    float: left;
}

.product_price{
    float: left;
    background-size: 100%;
    line-height: 15px;
}

.product_number{
    color:#868686;
    font-family:".SFUIText-Regular";
    display: block;
}

.tip-divider{
    width:100%;
    
}

.imgLoadfade{
    -webkit-animation: fadein 1.5s;
}

@-webkit-keyframes fadein {
    from { opacity: 0.2; }
    to   { opacity: 1; }
}


.doc_inner_ad{
    background-size: 100%;
    background-clip: content-box;
}








